<div class="content" id="home">
  
  <!-- Sidebar -->
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  
  <div class="header-titulo">
    <h1 id="title">{{ page.title }}</h1>
  </div>

  <div id="post-info">
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div>
    <div id="info-container">
      <span id="date">{{ page.date | date_to_string }}</span>
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>

  <div class="colophon">
    <p>
      <span id="pub-date">Referencias</span>
    </p>
  </div>


</div>
